<% JSON.parse(@response.body)["masterlist"].to_a.each do |b| %>
<h1><%= b[1]["session_name"] %></h1>
<% end %>
	<table class="table table-hover">
		<thead>
			<tr>
			<div id="t">
				<th>Tite</th>
				<th>Description</th>
				<th>Last Action</th>
			</tr>
		</thead>
		<% @bills.values.each do |bill| %>
		<% next if bill["title"].blank? %>
		<tbody>
				<td><%= link_to bill["title"], bill_path(bill["bill_id"]) %></td>
				<td><%= bill["description"] %></td>
				<td><%= bill["last_action"] %></td>
			</div>		
		<% end %>
		</tbody>
	</table>