<h1>UH OH! Where's <%= params[:state] %>'s bills?!</h1>

<h2>What the? Oh no! Where's the bills for <%= params[:state] %>? It looks like they're not here.That's because your state just recently updated to a new session and has not posted any bills yet. Stay tuned for future updates!</h2>