<div class="form">
	<h1>What state do you care about?</h1>
	<%= form_tag 'results', :query => :states, method: :get do %>
	    <%= label_tag :states, 'Search by State' %>
	    <%= text_field_tag :state %>
	    <%= submit_tag 'Search' %>
	<% end %>
</div>



<!--           <form id="legiscan-search">
            <div class="row">
              <div class="large-12 large-centered columns">
                <input type="text" id="legiscan-terms" placeholder="awesome stuff" />
              </div>
            </div>
            <div class="row">
              <div class="large-4 medium-4 large-centered columns">
                <button class="medium success button">Search!</button>
              </div>
            </div>
          </form>

          <div id="results">
            
          </div>

           -->