
<table class="table table-hover">
  <thead>
    <tr>
      <th>Bill ID</th>
      <th>History</th>
    </tr>
  </thead>
  <tbody>
    <% @bill_api.each do |bill_info| %>
    <% next if bill_info[1]["bill_id"].blank? %>
    <tr>
      <td><%= bill_info[1]["bill_id"] %></td>
      <td><%= bill_info[1]["history"] %></td>
    <% end %>
    </tr>
  </tbody>
</table>