<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_details_subscription_path(@subscription.details, @subscription) %> |
<%= link_to 'Back', details_subscriptions_path(@subscription.details) %>
