/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require rails_bootstrap_forms
 */


// bills#show Progress
.cycle {
  .progress-steps {
    display: flex;
    flex-wrap: wrap;
    li {
      float: none;
      &:nth-child(4n+1)::after {
        display: none;
      }
    }
  }
}

$brand-color: #f86;
$body-color: #999;

.progress-container {
    width:100%;
    margin: 2em auto; 
  }
  .progress-steps {
    counter-reset: step;
  }
  .progress-steps li {
    list-style-type: none;
    float: left;
    width: 25%;
    font-size: .7em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $body-color;
  }
  .progress-steps li:before {
    width: 2.5em;
    height: 2.5em;
    content: counter(step);
    counter-increment: step;
    line-height: 2.5em;
    border: 2px solid $body-color;
    display: block;
    text-align: center;
    margin: 0 auto .7em auto;
    border-radius: 50%;
    background-color: white;
  }
  .progress-steps li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: $body-color;
    top: 1.3em;
    left: -50%;
    z-index: -1;
  }
  .progress-steps li:first-child:after {
    content: none;
  }
  .progress-steps li.active {
    color: $brand-color;
  }
  .progress-steps li.active:before {
    border-color: $brand-color;
  }
  .progress-steps li.active + li:after {
    background-color: $brand-color;
  }

//bills#show Results
.yea, .nay {
  font-size: 30px; 
  color: white
}
.yea {
  color: white;
  background-color: green;
  padding: 100px
}

.nay {
  color: white;
  background-color: red;
  padding: 100px;
}