<div class="progress-container">
      <ul class="progress-steps">
          <li>Contact Info</li>
          <li>Travel Dates</li>
          <li>Itinerary</li>
          <li>Comments</li>
  </ul>
</div>