<% JSON.parse(@response.body)["masterlist"].to_a.each do |b| %>
<h1><%= b[1]["session_name"] %></h1>
<% end %>
	<table class="table table-hover">
		<thead>
			<tr>
			<div id="t">
				<th>Tite</th>
				<th>Description</th>
				<th>Last Action</th>
			</tr>
		</thead>
		<% JSON.parse(@response.body)["masterlist"].to_a.each do |b| %>
		<tbody>
				<td><%= b[1]["title"] %></td>
				<td><%= b[1]["description"] %></td>
				<td><%= b[1]["last_action"] %></td>
			</div>		
		<% end %>
		</tbody>
	</table>

<svg width="960" height="880"></svg>
